/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
}

form > button {
    background: #e8491d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form > button:hover {
    background: #c0392b;
}
