<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Utils</title>
</head>
<body>
    <h1>Text-Utils</h1>
    <p>Perform various operations on text.</p>
    <form action="/remove-punctuation" method="get">
        <textarea name="text" id="text" placeholder="Enter your text here" style="margin: 0px; width: 331px; height: 117px;"></textarea>
        <br/>
        <button type="submit">Remove Punctuation</button>
    </form>
    <p>Made with ❤️ by <a href="https://github.com/pythonicforge">Hardik Jaiswal</a></p>
</body>
</html>