<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Utils</title>
</head>
<body>
    <h1>Text-Utils</h1>
    <p>Perform various operations on text.</p>
    <ul>
    <li><a href="/remove-punctuation/">Remove Punctuation</a></li>
    <li><a href="/capitalize-first/">Capitalize First</a></li>
    <li><a href="/newline-remover/">Remove NewLines</a></li>
    <li><a href="/space-remover/">Remove Spaces</a></li>
    <li><a href="/char-count/">Count Number of Characters</a></li>
    </ul>
    <p>Made with ❤️ by <a href="https://github.com/pythonicforge">Hardik Jaiswal</a></p>
</body>
</html>